/* Navbar fixa no topo */
.navbar-mobile-admin {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2a2033;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 7%;
  }
  
  .menu-toggle {
    font-size: 24px;
    margin-left: -12%;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .logo-text {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    gap: 5px;
  }
  
  /* Menu Off-Canvas */
  .menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px; /* Oculto inicialmente */
    width: 300px;
    background-color: #2a2033;
    color: white;
    overflow-y: auto;
    transition: left 0.3s ease-in-out;
    z-index: 999;
  }
  
  .menu-container.open {
    left: 0; /* Aparece ao abrir */
  }
  
  .profile-container {
    margin-top: 15%;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #2a2033;
  }
  
  .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-name,
  .profile-email {
    display: block;
    color: white;
    margin: 5px 0;
  }
  
  /* Lista de links */
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-list li {
    border-bottom: 1px solid #2a2033;
  }
  
  .menu-list li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
  }
  
  .menu-list li a .icon {
    margin-right: 10px;
  }
  
  .menu-list li a:hover,
  .menu-list li a.active-link {
    background-color: #2a2033;
  }
  
  .logout-link {
    color: #e74c3c;
  }
  
  .logout-link:hover {
    background-color: #c0392b;
  }
  