/* Estilo para garantir que o conteúdo não ultrapasse a sidebar */
body {
    margin: 0;
    padding: 0;
  }
  
  .sidebar {
    width: 250px; /* Defina a largura da sidebar */
    position: fixed; /* Fixa a sidebar na lateral */
    top: 0;
    left: 0;
    height: 100%;
   
  }
  
  .content {
    margin-left: 250px; /* Espaçamento igual à largura da sidebar */
    padding: 20px;
  }
  

  .actions-forms-admin{
    display: flex;
   
    margin-bottom: 20px;
    
    margin-left: 15%;

  }


  .actions-forms-admin button{
   margin-right: 10%;
   background-color:#6B7755;
   
  }

  .actions-forms-admin .button-enviar{
    margin-right: 10%;
    background-color:#344E41;
    
   }

   .actions-forms-admin .button-enviar:hover{
    
    background-color:#588157;
    
   }
   


  .actions-forms-admin button:hover{
    
    background-color:#556644;
    
   }

   .tabela-formularios{
    width: 100%;
    margin: 0 auto; 
   }






.tabela-formularios .MuiCheckbox-root .MuiSvgIcon-root {
  color: #6B7755; /* Altere para a cor que você deseja */
  
}








