.admin-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Para empurrar o conteúdo à direita */
    align-items: center;
    z-index: 1000;
    padding-left: 350px;  /* Espaçamento à esquerda */
    padding-right: 350px; /* Espaçamento à direita */
    box-shadow: 0 6px 8px -2px rgb(202, 202, 202);
}

.navbar-title {
    font-weight: bold;
}

.team-select {
    margin-left: 20px; /* Espaço entre o texto e o dropdown, se necessário */
}
