/* Update Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Update Modal Content */
  .modal-content {
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    transform: translateY(-20px);
    transition: transform 0.3s ease-out;
  }
  
  /* Header */
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .modal-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #999;
  }
  
  .close-btn:hover {
    color: #333;
  }
  
  /* Body */
  .modal-body {
    margin-bottom: 20px;
  }
  
  .modal-body label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .modal-body input,
  .modal-body textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modal-body h4 {
    margin-bottom: 10px;
    color: #333;
  }
  
  /* Member Row */
  .member-row {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
  }
  
  .member-row input {
    flex: 1;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
  }

  .nomes {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  /* Add Member Button */
  .add-member-btn {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-member-btn:hover {
    background-color: #218838;
  }
  
  /* Footer */
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .remove-member-btn{
    background-color: transparent !important;
    all: unset;
    cursor: pointer;
  }
  
  .save-btn {
    background-color: #28a745 !important;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-btn:hover {
    background-color: #218838 !important;
  }
  
  .cancel-btn {
    background-color: #28a745 !important;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-btn:hover {
    background-color: #218838 !important;
  }
  



