/* Estilos gerais do modal */
.modal-categories-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-categories-content-container {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 600px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Botão de fechar */
.modal-categories-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #888;
  background: none; 
  border: none; 
}

/* Título do modal */
.modal-categories-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* Estilos para a alternância de visualizações */
.modal-categories-view-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 8px;
}

.modal-categories-view-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  background: none; 
  font-size: 12px; 
  color: #A380A5; 
}

.modal-categories-view-button:hover {
  background-color: transparent;
}

/* Estilo para o botão ativo (Cadastrar) */
.modal-categories-view-button.active {
  color: #6f2c91; 
}

.modal-categories-view-button.active::after {
  content: '';
  display: block;
  height: 2px; 
  background-color: #6f2c91; 
  width: 100%; 
  position: absolute; 
  bottom: -1px; 
  left: 0; 
}

.modal-categories-view-button:not(.active) {
  color: #d3d3d3; 
}

/* Campo de entrada para categorias */
.modal-categories-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Botões de ação do modal */
.modal-categories-action-buttons {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 10px;
}
.modal-categories-button-primary {
  background-color: #a380a5;
  color: white;
  border: none;
  padding: 8px 40px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
}

.modal-categories-button-primary:hover {
  background-color: #704772;
}

.modal-categories-action-buttons .modal-categories-button-secondary {
  border: 2px solid #a380a5;
  color: #a380a5;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  height: 40px; 
  width: 120px;
}

.modal-categories-action-buttons .modal-categories-button-secondary:hover {
  background-color: #ebd9ec;
  color: #8d5790;
}


/* Estilos para a lista de categorias */
.modal-categories-list {
  max-height: 200px; 
  overflow-y: auto;
  margin-top: 10px;
}

/* Item da lista de categorias */
.modal-categories-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc; 
}

/* Container para os botões de editar e excluir */
.modal-categories-edit-delete-container {
  display: flex;
  justify-content: flex-end; 
  gap: 10px; 
}

/* Botão de editar */
.modal-categories-edit-delete-container .modal-categories-edit-button {
  padding: 0;
  border: none; 
  cursor: pointer; 
  color: black;
  background-color: transparent;
  font-size: 14px;
}

/* Botão de excluir categoria */
.modal-categories-edit-delete-container .modal-categories-delete-button {
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
}
