/* Reset geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilo da sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 60px; /* Define uma largura inicial para a sidebar colapsada */
    position: fixed; /* Fixa a sidebar na tela */
    background-color: #2A2033;
    padding: 20px;
    color: #ffffff;
    transition: width 0.5s ease; /* Animação suave para expandir e colapsar a sidebar */
    overflow: hidden; /* Esconde o conteúdo que não cabe ao colapsar */
    top: 0;
    left: 0;
}

/* Sidebar expandida */
.sidebar.expanded {
    width: 190px;
}

/* Sidebar colapsada */
.sidebar.collapsed {
    width: 60px;
    align-items: flex-start; /* Alinha os itens à esquerda */
}

/* Logo da sidebar */
.logo_sidebar {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* Estiliza a palavra 'OAK' da logo */
.logo_sidebar .oak {
    color: #A380A5;
}

/* Esconde o texto 'OAK RH' quando a sidebar está colapsada */
.sidebar.collapsed .oak,
.sidebar.collapsed span {
    display: none;
}

/* Ícone para alternar entre expandir e colapsar */
.toggle-icon {
    cursor: pointer;
    font-size: 25px;
    margin-left: auto;
    font-weight: 600;
}

/* Menu da sidebar */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 160px;
    width: 100%;
    font-size: 14px; /* Mantém a posição dos itens */
}

/* Itens do menu */
.menu li {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 300;
    display: flex;
}

/* Estilo dos links */
.menu li a {
    color: #ffffff; /* Cor dos links como branco */
    text-decoration: none; /* Remove a linha de baixo dos links */
    display: block;
    width: 100%;
    padding: 10px 0;
}

/* Estilo dos links ativos (na página atual) */
.menu li a.active_link {
    color: #A380A5; /* Cor roxa para o link ativo */
    background-color: #3A2B4A; /* Ajuste a cor do fundo, se necessário, para destaque */
    border-radius: 6px;
}

/* Estilo de hover nos links */
.menu li a:hover {
    color: #A380A5; /* Muda para roxo ao passar o mouse */
}

/* Perfil no final do menu */
.menu li.profile {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Botão de logout */
.menu li.logout {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid #DEE0DB;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

/* Imagem do perfil */
.menu li img {
    width: 140px;
    height: 135px;
    border-radius: 20px;
    margin-top: 5px;
}

/* Ajusta o tamanho da imagem do perfil quando a sidebar está colapsada */
.sidebar.collapsed .menu li img {
    width: 30px;
    height: 30px;
}
