* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilo da sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 60px;
    position: fixed;
    background-color: #2A2033;
    padding: 20px;
    color: #ffffff;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Sidebar expandida */
.sidebar.expanded {
    width: 190px;
}

/* Sidebar colapsada */
.sidebar.collapsed {
    width: 70px;
    align-items: flex-start;
}

.hamburguer_sidebard.sidebar.collapsed {
    margin-left: 0;
}

/* Logo da sidebar */
.logo_sidebar {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo_sidebar .oak {
    color: #A380A5;
}

.sidebar.collapsed .oak,
.sidebar.collapsed span {
    display: none;
}

.toggle-icon {
    cursor: pointer;
    font-size: 25px;
    margin: auto;
    font-weight: 600;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 160px;
    width: 100%;
    font-size: 14px; 
}

.menu li {
    all: unset;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 300;
    display: flex;
}

.menu li a {
    all: unset;
    color: #ffffff; 
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.menu li a.active_link {
    color: #A380A5;
    background-color: #3A2B4A;
    border-radius: 6px;
}

.menu li a:hover {
    color: #A380A5;
}

.menu li.profile {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu li.logout {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid #DEE0DB;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.menu li img {
    width: 140px;
    height: 135px;
    border-radius: 20px;
    margin-top: 5px;
}

.sidebar.collapsed .menu li img {
    width: 30px;
    height: 30px;
}
