/* Estilos do ModalSendForm */
.modal-box-sendForms {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: var(--mui-background-paper, #fff);
  box-shadow: 24px 24px 40px rgba(0, 0, 0, 0.12);
  padding: 16px;
  border-radius: 8px;
  backdrop-filter: blur(1px);
}

.modal-box-sendForms .modal-title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.modal-box-sendForms .form-control {
  margin-bottom: 16px;
}

.modal-box-sendForms .checkbox-label {
  margin-bottom: 16px;
}

.modal-box-sendForms .button-submit-forms {
  width: 100%;
  margin-top: 8px;
  background-color: #a380a5;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.modal-box-sendForms .button-submit-forms:hover {
  background-color: #704772;
}

/* Estilo do checkbox com borda preta e fundo verde quando marcado */
.modal-box-sendForms .MuiCheckbox-root {
  color: black; /* Borda preta */
}

.modal-box-sendForms .MuiCheckbox-root.Mui-checked {
  color: #813585; /* Fundo verde quando marcado */
}

/* Estilo da borda verde no Select */
.modal-box-sendForms .MuiOutlinedInput-root {
  border-color: #2a2033; /* Borda verde */
}

.modal-box-sendForms
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #2a2033; /* Borda verde ao focar */
  color: #2a2033;
}

#select-teams-label {
  color: #2a2033;
}

#select-nivel-label {
  color: #2a2033;
}

/* Estilo do checkbox com borda preta e fundo verde quando marcado */
.menuItem-sendForms .MuiCheckbox-root {
  color: black; /* Borda preta */
}

.menuItem-sendForms .MuiCheckbox-root.Mui-checked {
  color: #813585; /* Fundo verde quando marcado */
}

/* Estilo da borda verde no Select */
.menuItem-sendForms .MuiOutlinedInput-root {
  border-color: #813585; /* Borda verde */
}

.menuItem-sendForms
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #813585; /* Borda verde ao focar */
  color: #813585;
}
