/* Estiliza o container principal */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header {
    display: flex;
    gap: 100px;
    margin-bottom: 20px;
    align-items: center;
}

.header button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: solid 1px #c5c5c5;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header button.active {
    background-color: #556644;
    color: white;
}

/* Container dos cards */
.container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    position: relative; /* Necessário para posicionar o h3 */
    padding-top: 40px; /* Espaço para o h3 não cobrir os cards */
}

/* Estilo do h3 para posicioná-lo no canto superior esquerdo */
.container h3 {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    font-size: 18px;
    color: #333;
}

/* Estilo dos cards */
.card-userForms {
    width: 130px;
    height: 130px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-header {
    background-color: #218838;
    color: white;
    text-align: center;
    padding: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-footer {
    background-color: #2F3B6B;
    color: white;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Zoom suave no hover */
.card-userForms:hover {
    transform: scale(1.1);
}
