* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .dashboard-user-wrapper {
    display: flex;
  }
  
  .sidebar-user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    width: 230px;
    position: fixed;
    background-color: #177035;
    padding: 20px;
    color: #ffffff;
    overflow: hidden; 
    top: 0;
    left: 0;
    z-index: 1000;
    transition: width 0.5s ease; 
  }
  
  .sidebar-user.expanded .profile_container,
  .sidebar-user.expanded .menu-sidebar-user,
  .sidebar-user.expanded .logout {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  .logo-sidebar-user {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px; 
  }
  
  .toggle-button {
    font-size: 24px;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0; 
    display: flex;
    justify-content: center; 
    width: 100%; 
  }
  
  .toggle-button.expanded {
    font-size: 1.8vw;
    margin-top: -19px;
    margin-left: 78px;
  }
  
  .logo-sidebar-user .oak {
    color: #4fc576;
  }
  
  .profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .profile_image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile_name {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
  }
  
  .profile_email {
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    font-weight: 100;
  }
  
  .menu-sidebar-user {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .menu-sidebar-user li {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .menu_span {
    width: 100%;
  }
  
  .menu_span_user a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
  
  .menu_span_user a.active_link {
    color: #ffffff;
    background-color: #0e632a;
    border-radius: 6px;
  }
  
  .menu_span_user a:hover {
    color: #5dc680;
  }
  
  .icon-sidebar-user {
    margin-right: 8px;
  }
  
  .logout {
    list-style: none;
    margin-top: auto;
    width: 100%;
  }
  
  .logout_link {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    padding: 8px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid #ffffff;
    border-radius: 8px;
  }
  
  .logout_link:hover {
    color: #a380a5;
  }
  
  .sidebar-user.collapsed {
    width: 80px;
    padding: 20px 10px;
    align-items: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
  }
  
  .sidebar-user.collapsed .logo-sidebar-user {
    justify-content: center;
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  .sidebar-user.collapsed .icon-sidebar-user {
    margin-right: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .sidebar-user.collapsed .profile_image {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  
  .sidebar-user.collapsed .profile_name,
  .sidebar-user.collapsed .profile_email {
    display: none;
  }
  
  .menu-sidebar-user li {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .menu_span a {
    justify-content: center;
  }
  
  .icon-sidebar-user {
    display: flex;
    justify-content: center;
  }
  